* {
    box-sizing: border-box;
}

body .heading {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    padding-top: 50px;
    padding-left: -30px;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 40px;
    padding-left: 65px;
}

html {
    background: rgba(0, 0, 0, 0) url("images/bee-on-yellow.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text {
    margin-top: 6.5rem;
    color: darkorange;
    text-shadow: 1.8px 1px 1px #b33e3d;
    text-align: center;
    padding-bottom: 2rem;
}

#question .text {
    margin-top: 6.5rem;
    text-align: center;
}

.heading {
    margin-top: 1rem;
    height: 5rem;
    color: darkorange;
}

.heading .logo {
    height: 5.3rem;
    width: auto;
    border-radius: 50%;
    border: 3px solid darkorange;
    vertical-align: middle;
    margin-bottom: 1rem;
}

.heading span {
    font-size: 4.3rem;
    text-shadow: 3px 1px 1px #b33e3d;
    margin-top: .5rem;
    vertical-align: middle;
}

h2 {
    font-size: 2.8rem;
    margin-top: 3rem;
    font-family: 'Lato', sans-serif;
    text-shadow: 1.8px 1px 1px #b33e3d;
}

h3 {
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    text-shadow: 1.8px 1px 1px #b33e3d;
}

p {
    font-size: 2.2rem;
    margin-top: 9rem;
    text-shadow: 1.8px 1px 1px #b33e3d;
}

#choices {
    margin-bottom: 6rem;
    font-size: 2rem;
    color: darkorange;
    text-shadow: 1.8px 1px 1px #b33e3d;
    vertical-align: middle;
}


/* #choices .option are the radio buttons only */

#choices .option {
    margin-left: 3rem;
    margin-right: 2rem;
    vertical-align: center;
    margin-bottom: 1rem;
}

.startButton {
    padding-bottom 40px;
    cursor: default;
    background-color: orange;
    font-size: 20px;
    border-radius: 10px;
}

.startButton:hover {
    background-color: darkorange;
}

.start-section {
    max-width: 870px;
    margin: 0 auto;
    /*    display: block;*/
    padding-top: 3.8rem;
}

.quiz-section {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 4.5rem;
    background-image: url("images/transparent.jpg");
    border-radius: 0.8rem;
}

.result-section {
    max-width: 60rem;
    margin: 0 auto;
    text-align: left;
    padding-left: 60px;
    background-image: url("images/transparent.jpg");
    border-radius: 0.8rem;
    padding: 2rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.result-section h2 {
    margin-top: 10rem;
}

.result-section h3 {
    margin-top: -2rem;
}

/*
.result-section #tryagain {
    text-align: center;
}
*/

#result_msg h3 {
    font-family: 'Lato', sans-serif;
    color: darkorange;
    font-size: 2.5rem;
    text-shadow: 1.8px 1px 1px #b33e3d;
}

#result_msg h4 {
    font-family: 'Lato', sans-serif;
    color: darkorange;
    font-size: 2rem;
    text-shadow: 1.8px 1px 1px #b33e3d;
    margin-top: -2rem;
    margin-bottom: 5rem;
}

.question-number {
    padding-bottom: 2rem;
    text-align: center;
    padding-top: 1.5rem;
    color: darkorange;
    text-shadow: 1.8px 1px 1px #b33e3d;
    font-size: 1.6rem;
}
